body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: darkcyan;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 40vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: lightgrey;
    margin: 0;
    padding: 2vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 2vw;
}
input[type=text],[type=password] {
    margin: 3vh 5vw 0 5vw;
    padding: 5px;
}

.flexJustifyBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh 5vw 0 5vw;
}
.flexJustifyBetween label{
    font-size: 14px;
}
input[type=submit]{
padding: 1vw 5vh;
    border-radius: 5px;
}